<form>
	<div class="radio clip-radio radio-primary radio-sm">
		<input type="radio" value="http://lorempixel.com/150/150/sports/0/" name="imagem_galeria" id="radio_teste_1"/><label for="radio_teste_1"><img src="http://lorempixel.com/50/50/sports/0/" /> Opc達o 01</label>
	</div>
	<div class="radio clip-radio radio-primary radio-sm">
		<input type="radio" value="http://lorempixel.com/150/150/sports/1/" name="imagem_galeria" id="radio_teste_2"/><label for="radio_teste_2"><img src="http://lorempixel.com/50/50/sports/1/" />Opc達o 02</label>
	</div>
	<div class="radio clip-radio radio-primary radio-sm">
		<input type="radio" value="http://lorempixel.com/150/150/sports/2/" name="imagem_galeria" id="radio_teste_3"/><label for="radio_teste_3"><img src="http://lorempixel.com/50/50/sports/2/" />Opc達o 03</label>
	</div>
	<div class="radio clip-radio radio-primary radio-sm">
		<input type="radio" value="http://lorempixel.com/150/150/sports/3/" name="imagem_galeria" id="radio_teste_4"/><label for="radio_teste_4"><img src="http://lorempixel.com/50/50/sports/3/" />Opc達o 04</label>
	</div>
</form>
