<form>
	<div class="radio clip-radio radio-primary radio-sm">
		<input type="radio" value="464e4967-3663-4a6d-d971-694f48465a62" name="item_selecionado" id="radio_teste_1"/><label for="radio_teste_1">Opc達o 01</label>
	</div>
	<div class="radio clip-radio radio-primary radio-sm">
		<input type="radio" value="4638346f-6251-4464-d848-585165563230" name="item_selecionado" id="radio_teste_2"/><label for="radio_teste_2">Opc達o 02</label>
	</div>
	<div class="radio clip-radio radio-primary radio-sm">
		<input type="radio" value="6754756e-7772-4472-e14d-66714d626d51" name="item_selecionado" id="radio_teste_3"/><label for="radio_teste_3">Opc達o 03</label>
	</div>
	<div class="radio clip-radio radio-primary radio-sm">
		<input type="radio" value="41595041-3679-4834-ef58-4a7675686e6b" name="item_selecionado" id="radio_teste_4"/><label for="radio_teste_4">Opc達o 04</label>
	</div>
</form>

{% include 'pagination.html.twig' %}