<div class="container-inscricao col-md-12">
    <div class="container-form">
        <div class="suport-text">
            <h1>Parabéns você está com seu HASH CAMPANHA 2016 100% Ativado</h1>
            <h2>Baixe o Aplicativo nas Lojas:</h2>
            <p>Agora o mundo HASH está pronto para acompanhar seu Comitê.  Lembre-se: mesmo depois do fim das eleições, continue utilizando o time HASH para manter todo o engajamento que você construiu. Nas próximas eleições, você poderá usar a estrutura já desenvolvida no HASH e dar um passo ainda maior na sua carreira política.
            <br>Você, assim que eleito, poderá contar ainda com o módulo EMANDATO.
            <br>Até lá!</p>

        </div>
    </div>
