<div class="container-inscricao col-md-12">
    <div class="container-form">
        <div class="suport-text">
            <h1>{{ 'verifique_seu_email'|zftranslate }}</h1>
            <h2>{{ 'enviamos_um_email_para_voce'|zftranslate }}</h2>
        </div>
    </div>
</div>