<div class="container-inscricao col-md-12">
    <div class="container-form">
        <div class="suport-text">
            <h1>{{ 'inscricao_validada_sucesso'|zftranslate }}</h1>
            <h2>{{ 'aguarde_enquanto_configuramos'|zftranslate }}</h2>
        </div>
    </div>
</div>
