<div class="container-inscricao col-md-12">
    <div class="container-form">
        <div class="suport-text">
            <h1>{{ 'codigo_validacao_nao_encontrado_ou_invalido'|zftranslate }}</h1>
            {# <h2>Para finalizar o processo leia e aceite os termos abaixo.</h2> #}
        </div>
    </div>
</div>