
<form class="form-tree uploadform" method="POST" action="">
    <input type="hidden" name="id_grupo" value="" />
    <input type="hidden" name="id_tib" value="{{ posted.id_tib }}" />

    <div>
        <label class="pull-left">Fazer OCR: </label>
        <input type="checkbox" name="ocr" value="1" />
    </div>
</form>

<script>

    $(function () {
        $(".uploadform input[name='id_grupo']").val($('#grupo').val());
    });

</script>

{% include 'dragndrop2.html.twig' %}