<script type="text/javascript" src="//static.jstree.com/3.2.1/assets/dist/jstree.min.js"></script>
<script type="text/javascript" src="{{view.baseUrl()}}/js/treeFunction_ged.js"></script>
<link rel="stylesheet" type="text/css" href="//static.jstree.com/3.2.1/assets/dist/themes/default/style.min.css"/>

<div id="loader">
    <div>
        <i class="fa-li fa fa-cog fa-spin"></i>
    </div>
</div>
{% include 'dragndrop2.html.twig' %}
<div class="row box-form-container">
    <div class="col-md-6">

        <form class="form-tree uploadform" method="POST" action="">
            <select name="id_grupo" id="grupo" class="select-times">
                {% for t in grupos %}
                    <option value="{{ t.id }}" {% if 'grupos' == idTipoEscolhido %} selected {% endif %} >
                        {{ t.nome2 }}
                    </option>
                {% endfor %}
            </select>

            {#<select name="idTipoEscolhido" class="select-tipo">#}
                {#<option value="grupos" {% if 'grupos' == idTipoEscolhido %} selected {% endif %}>#}
                    {#grupos#}
                {#</option>#}
                {#<option value="servicos" {% if 'servicos' == idTipoEscolhido %} selected {% endif %}>#}
                    {#serviços#}
                {#</option>#}
            {#</select>#}

            <input type="submit" value="Atualizar">

        </form>


        {#<div>#}
            {#&#123;&#35;<button type="button" type="button" class="btn btn-sm btn-info add_node">incluir</button>#}
            {#<button type="button" class="btn btn-sm btn-danger delete_node">excluir</button>#}
            {#<button type="button" class="btn btn-sm btn-warning rename_node">renomear</button>&#35;&#125;#}
            {#<input type="text" class="busca-tree" value="">#}
        {#</div>#}

        <div id="jstree"></div>
    </div>

    <div class="col-md-6 editar-propriedade">

    </div>
</div>

<script>

</script>
