<script type="text/javascript" src="//static.jstree.com/3.2.1/assets/dist/jstree.min.js"></script>
<script type="text/javascript" src="{{view.baseUrl()}}/js/treeFunction_servico.js"></script>
<link rel="stylesheet" type="text/css" href="//static.jstree.com/3.2.1/assets/dist/themes/default/style.min.css" />
<div id="loader">
    <div>
        <i class="fa-li fa fa-spinner fa-spin"></i>
    </div>
</div>
<div class="row box-form-container container-tree">
    <div class="col-md-6">
        <form class="form-tree" method="POST">
            <select name="idServico" class="select-times">
                {% for servico in servicos %}
                    <option value="{{ servico.id }}" {% if servico.id == idServico %} selected {% endif %}>
                        {{ servico.nome }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Atualizar">
        </form>
{#
        <div>
            <input type="text" class="busca-tree" value="">
        </div>
#}
        <div id="jstree"></div>
    </div>

    <div class="col-md-6 editar-propriedade"></div>
</div>
